.clock{
    background-color:darkblue;
    color:floralwhite;
    font-weight: bold;
    height: 100vh;
    font-size:5rem;
    align-items: center;
    align-content: center;
    display: table-cell;
    vertical-align: middle;
    width: 100vw;
    
}